# כלליים
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.DS_Store
.env
*.log

# React Web (admin-web)
admin-web/build/
admin-web/.cache/
admin-web/.env.local
admin-web/.env.development.local
admin-web/.env.test.local
admin-web/.env.production.local

# React Native (mobile-app)
mobile-app/android/.gradle/
mobile-app/android/app/build/
mobile-app/ios/Pods/
mobile-app/ios/build/
mobile-app/.expo/
mobile-app/.expo-shared/
mobile-app/expo-debug.log
mobile-app/expo-error.log

# VSCode
.vscode/

# Mac
*.DS_Store

# Windows
Thumbs.db
